{% extends 'base.html' %}

{% block head %}
<title>Parmentier | Your favorite cooking dude</title>
{% endblock %}

{% block body %}
<div class="background-div"></div>
<div class="frontpage">
    <button class="member-button" id="member-button">
        <img src="{{ url_for('static', filename='img/member.png') }}" alt="Mon compte | Se connecter | préferences">
    </br>
        Member space 
    </button>
    <div class="top-section">
        <h1>Parmentier</h1>
        <h3 class="top-section-underline">Your favorite cooking dude !</h3>
    </div>
    <div class="filter-section">
        <h3 style="color: white"> Dîtes-nous en plus sur les recettes que vous cherchez ! </h3>

        <div class="filter-new">
            <label for="filtre">Nouveau filtre : Je cherche une recette qui </label>
            <select name='filtre' id='filtre' class='filtre-selecteur'>
                <option value="ingredientwhitelist">...Contient un ingrédient...</option>
                <option value="ingredientblacklist">...Ne contient pas un ingrédient...</option>
                <option value="time">...Se prépare en un certain temps maximum...</option>
                <!-- <option value="regime">...Correspond à un régime en particulier</option> -->
                <option value="budget">...Correspond à un budget</option>
                <option value="level">...Correspond à mon talent de cuistot</option>
            </select>
            <br/>
            <label for="valuefield" id="filtre-middle-txt"></label>
            <div id="valuefield">
                <select id="filtrediffinput">
                    <option value="très facile">très facile</option>
                    <option value="moyenne">facile</option>  
                </select>

                <select id="filtrebudgetinput">
                    <option value="bon marché">bon marché</option>
                    <option value="moyen">moyen</option>
                </select>
            </div>
        </div>

        <ul id="filtre-liste">
        </ul>
    </div>
</div>
<button name="find-recette">
    Trouver une recette
</button>
<script src="{{ url_for('static', filename='script/main.js') }}" async></script>
{% endblock %}