{% extends 'base.html' %}

{% block head %}
<title>Parmentier | Your favorite cooking dude</title>
{% endblock %}

{% block body %}
<div class="background-div"></div>
<div class="frontpage">
    <button class="member-button" id="member-button">
        <img src="{{ url_for('static', filename='img/member.png') }}" alt="Mon compte | Se connecter | préferences">
    </br>
        Member space 
    </button>
    <div class="top-section">
        <h1>Parmentier</h1>
        <h3 class="top-section-underline">Your favorite cooking dude !</h3>
    </div>
    <div class="filter-section">
        <h3 style="color: white"> Dîtes-nous en plus sur les recettes que vous cherchez ! </h3>

        <div class="filter-new">
            <p>Nouveau filtre : Je cherche une recette qui </p>
            <select name='filtre' class='filtre-selecteur'>
                <option value="ingredientwhitelist">...Contient un ingrédient...</option>
                <option value="ingredientblacklist">...Ne contient pas un ingrédient...</option>
                <option value="time">...Se prépare en un certain temps maximum...</option>
                <!-- <option value="regime">...Correspond à un régime en particulier</option> -->
                <option value="budget">...Correspond à un budget</option>
                <option value="level">...Correspond à mon talent de cuistot</option>
            </select>
            <p id="filtre-middle-txt"></p>
            <select name="valeur" class="filtre-selecteur" hidden></select>
        </div>

        <ul id="filtre-liste">
        </ul>
    </div>
</div>
<button name="find-recette">
    Trouver une recette
</button>
{% endblock %}